<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ncu.appinfo.dao.StatusMapper" >
  <resultMap id="BaseResultMap" type="com.ncu.appinfo.entity.Status" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="type_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="status_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_code, type_name, status_id, status_name, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from status
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from status
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ncu.appinfo.entity.Status" >
    insert into status (id, type_code, type_name, 
      status_id, status_name, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{statusId,jdbcType=BIGINT}, #{statusName,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.ncu.appinfo.entity.Status" >
    insert into status
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeCode != null" >
        type_code,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="statusName != null" >
        status_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=BIGINT},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ncu.appinfo.entity.Status" >
    update status
    <set >
      <if test="typeCode != null" >
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=BIGINT},
      </if>
      <if test="statusName != null" >
        status_name = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ncu.appinfo.entity.Status" >
    update status
    set type_code = #{typeCode,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      status_id = #{statusId,jdbcType=BIGINT},
      status_name = #{statusName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listByAppId" resultMap="BaseResultMap">
    select s.*
    from app_status apps join status s on apps.status_id = s.id
    where apps.app_id = #{appId}
  </select>
  <select id="listStatusByCode" resultType="java.lang.String">
    select status_name
    from status where type_code = #{typeCode}
  </select>
  <update id="updateAppStatus">
    update app_status apps
	set apps.status_id = (select s.id from status s where s.status_name = #{appStatus})
		where apps.app_id = #{appId} and apps.status_id BETWEEN 1 and 5
  </update>

  <select id="listByVersionId" resultMap="BaseResultMap">
    SELECT s.*
    FROM version_status JOIN STATUS s ON version_status.status_id = s.id
    WHERE version_status.version_id = #{versionId}
  </select>

  <insert id="addVersionStatus" parameterType="java.lang.Long">
    insert into version_status ( version_id,status_id
      )
    values (#{versionId,jdbcType=BIGINT}, #{statusId,jdbcType=BIGINT}
      )
  </insert>

</mapper>